<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.rtl.min.css">
    <link rel="stylesheet" href="bootstrap-icons.css">
    {{!-- <link rel="stylesheet" href="/bootstrap.slate.rtl.min.css"> --}}
    <script src="bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container error-container">
        <h1>שגיאה!</h1>
        <h3>הטופס לא נמצא</h3>
    </div>
  </body>
</html>